%form#message-form
  %input.form-control{id: 'merchant_chat_support_id', name: 'merchant_chat_support_id', type: 'hidden', value: @merchant_chat_support.id}
  %textarea.form-control{id: 'text', name: 'text'}
  %br
  %input.btn.btn-primary{type: 'submit', value: 'Send Message'}
