= render 'partials/page-head', title: 'Listing All Merchant Chat Supports'

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-bubble
      Merchant Chat Supports

  .portlet-body
    %ul.feeds#merchant-chat-supports
