th.actions, td.actions{
  border:none;
  float: right;
  width: 100%;
  text-align: right;
}
.filter-actions{
  margin-top: 24px;
}
.datagrid-submit{
  margin-right: 5px;
}
.width-auto{
  width: 100%;
}

.range-filter{
  label {
    display: block;
  }
  .form-control{
    width: 48%;
    display: inline-block;
  }
}
