@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: asset_url($file-name + '.eot');
    src: asset_url($file-name + '.eot?#iefix')  format('embedded-opentype'),
         asset_url($file-name + '.woff') format('woff'),
         asset_url($file-name + '.ttf')  format('truetype'),
         asset_url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
