.navbar-notification {
  .dropdown .dropdown-toggle .badge {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    margin: -6px 0 0 0;
    font-weight: 600;
    padding: 7px 9px;
    height: 25px;
  }
  .slimScrollDiv #notifications-list {
    li a .details {
      overflow: inherit;
      .label-icon i {
        margin-right: -3px;
        margin-left: 0px;
      }
      .label.label-icon {
        padding: 13px 13px;
        margin-right: 2px;
        text-align: center !important;
      }
      .notification-list {
        float: right;
        margin-top: -10px;
        width: 191px;
        .timeago {
          opacity: 0.7;
        }
      }
    }
  }
}