.portlet.light.bordered

  .portlet-title
    .caption
      New Store

  .portlet-body.form
    = render 'form'
    %br
    -if policy(@store).index?
      = link_to stores_path, class: 'btn btn-default' do
        = fa_icon 'chevron-left'
        Back