- current_user.notifications.limit(10).each do |notification|
  %li
    %a{:href => "javascript:;"}
      %span.time 
        = time_ago_in_words(notification.created_at)
      %span.details
        %span.label.label-sm
          = notification.text