- current_user.notifications.limit(10).each do |notification|
  %li
    %a{:href => path_for_notification(notification)}
      .details
        %span.label.label-sm.label-icon.label-info
          %i.fa.fa-info
        .notification-list
          = notification.text
          .timeago
            = time_ago_in_words(notification.created_at)

