%nav.quick-nav
  %a.quick-nav-trigger{:href => "#0"}
    %span{"aria-hidden" => "true"}
  %ul
    %li
      %a.active{:href => "https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes", :target => "_blank"}
        %span Purchase Metronic
        %i.icon-basket
    %li
      %a{:href => "https://themeforest.net/item/metronic-responsive-admin-dashboard-template/reviews/4021469?ref=keenthemes", :target => "_blank"}
        %span Customer Reviews
        %i.icon-users
    %li
      %a{:href => "http://keenthemes.com/showcast/", :target => "_blank"}
        %span Showcase
        %i.icon-user
    %li
      %a{:href => "http://keenthemes.com/metronic-theme/changelog/", :target => "_blank"}
        %span Changelog
        %i.icon-graph
  %span.quick-nav-bg{"aria-hidden" => "true"}