.slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 339px;"}
  .scroller{"data-always-visible" => "1", "data-initialized" => "1", "data-rail-visible" => "0", :style => "height: 339px; overflow: hidden; width: auto;"}
    %ul.feeds
      - @notifications.each do |notification|
        %li
          .col1
            .cont
              .cont-col1
                .label.label-sm.label-info
                  %i.fa.fa-info
              .cont-col2
                .desc
                  = notification.text
                .date
                  = time_ago_in_words(notification.created_at)
