- current_user.notifications.each do |notification|
  %li
    = link_to path_for_notification(notification) do
      .col1
        .cont
          .cont-col1
            .label.label-sm.label-info
              %i.fa.fa-info
          .cont-col2
            .desc
              = notification.text
            .date
              = time_ago_in_words(notification.created_at)
