= render 'partials/page-head', title: 'Listing All Notifications'

.portlet.light.bordered
  .portlet-title.tabbable-line
    .caption
      %i.icon-globe.font-dark.hide
      %span.caption-subject.font-dark.bold.uppercase Listing of   Notifications
    .pull-right.vertical-middle
      %span.badge.badge-primary
        = Notification.count
  .portlet-body
    .tab-content
      #tab_1_1.tab-pane.active
    .mt-element-list
      .slimScrollDiv
        .scroller
          %ul.feeds#notifications
