= render 'partials/page-head', title: 'Creating User'
.row
  .col-xs-12.col-md-5
    .thumbnail
      .caption
        %h3 New User
        %hr
        = render 'form'
        %hr
        %p
          = link_to 'Back', { action: :index }, class: 'btn btn-default'
