.page-head
  .page-title
    %h1
      Admin Dashboard 2
      %small statistics, charts, recent events and reports

%ul.page-breadcrumb.breadcrumb
  %li
    %a{:href => "index.html"} Home
    %i.fa.fa-circle
  %li
    %span.active Dashboard


