= render 'partials/page-head', title: 'Setting'

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-settings
      Setting
  .portlet-body
    %table.table.table-stripped
      %col{width: 30}
      %col{width: 200}
      - @settings.each_key do |key|
        %tr
          %th
            = key
          %td
            = link_to edit_setting_path(key), class: 'btn btn-primary btn-sm' do
              = fa_icon 'edit'
              Edit
