#tab_1_2.tab-pane
  .slimScrollDiv
    %ul.feeds
      - @customer.claimed_rewards.each do |claimed_reward|
        %li
          = link_to claimed_reward do
            .col1
              .cont
                .cont-col1
                  .label.label-sm.label-success.approved
                      %i.fa.fa-check
                .cont-col2
                  .desc
                    = claimed_reward.status
            .col2
              .date
                = time_ago_in_words(claimed_reward.created_at)
