.portlet.light.bordered

  .portlet-title
    .caption
      New Company

  .portlet-body.form
    = render 'form'
    %br
    = link_to companies_path, class: 'btn btn-default' do
      = fa_icon 'chevron-left'
      Back