%form#message-form
  %input.form-control{id: 'customer_chat_support_id', name: 'customer_chat_support_id', required: true, type: 'hidden', value: @customer_chat_support.id}
  %textarea.form-control{id: 'text', name: 'text'}
  %br
  %input.btn.btn-primary{type: 'submit', value: 'Send Message'}
