= render 'partials/page-head', title: 'Listing All Customer Chat Supports'

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-bubble
      Customer Chat Supports

  .portlet-body
    %ul.feeds#customer-chat-supports
