= render 'partials/page-head', title: 'Chat Support'
.portlet.light.bordered
  .portlet-title
    .caption
      = image_tag @customer_chat_support.customer_avatar, size: '50x50', class: 'img-circle'
      = @customer_chat_support.customer.name

  .portlet-body
    #customer-chat-supports-list
      %ul#chat-data{'data-room-id' => @customer_chat_support.id}

    %hr
    = render 'message_form'
