body[id='advertisements_new'], [id='advertisements_create'], [id='advertisements_edit'], [id='advertisements_update'], [id='advertisements_show']
{
  #map-advertisement {
    margin-top: 10px;
    height: 500px;
    margin-bottom: 15px;
  }
}
.boolean.optional{
  margin-left: 10px;
}


