.portlet.light.bordered

  .portlet-title
    .caption
      New Receipt

  .portlet-body.form
    = render 'form'
    %br
    -if policy(@receipt).index?
      = link_to receipts_path, class: 'btn btn-default' do
        = fa_icon 'chevron-left'
        Back