.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => customer_log_reports_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-diamond
      Customer Log
  .portlet-body
    .table-scrollable
      = datagrid_table @grid
    .text-center
      = paginate(@grid.assets)
