.container
  .row
    .col-md-12
      .portlet.light.bordered
        .portlet-title
          .caption
            %span.caption-subject.font-dark.sbold.uppercase 
            Editing location
        .portlet-body.form
          = render 'form'