.portlet.light.bordered

  .portlet-title
    .caption
      New Location

  .portlet-body.form
    = render 'form'
    %br
    -if policy(@location).index?
      = link_to locations_path, class: 'btn btn-default' do
        = fa_icon 'chevron-left'
        Back